{
  "sources": [
    ["/home/yyunon/thesis_journals/resources/tpc-flecher/tpch6/hardware/vhdl/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/arrays/*.vhd" , {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/arrow/*.vhd" , {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/axi/*.vhd" , {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/buffers/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/interconnect/*.vhd" , {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/parallel_patterns/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/profile/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/test/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/wrapper/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/vhlib/stream/*.vhd", {"library": "work"}]
    ["/home/yyunon/thesis_journals/resources/fletcher/hardware/vhlib/util/*.vhd", {"library": "work"}]


    [ "/home/yyunon/vhdl/93/IEEE/*.vhd", { "library": "ieee" } ],
    [ "/home/yyunon/vhdl/93/IEEE/*.vhdl", { "library": "ieee"} ],
    [ "/home/yyunon/vhdl/2008/IEEE/*.vhd",{ "library": "ieee_proposed","flags": ["-2008"] } ],
    [ "/home/yyunon/vhdl/2008/IEEE/*.vhdl",{ "library": "ieee_proposed","flags": ["-2008"] } ],
  ],

}